* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background-color: #EB6E00;
    width: 100%;
    padding: 0px 0px;
    margin-bottom: 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.596);
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

a {
    padding: 15px;
    border-right: 3px solid rgb(255, 255, 255);
}

span {
    color: white;
    text-align: center;
    cursor: pointer;
    scale: 1.2;
}

p {
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    margin: 10px;
    width: 100%;

}

b {
    color: #EB6E00;
}

