* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    background-color: #EB6E00;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.596);
    margin-bottom: 10px;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

h1 {
    color: white;
    text-align: center;
    margin: 10px;
}

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

div {
    background-color: #EB6E00;
    margin: 3px 0px;
    color: white;
    width: 95%;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    align-content: center;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
}
