*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 15px;
}

.hide {
    display: none;
}

a, input[type="submit"] {
    background-color: #007bff;
    color: #FFF;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    padding: 10px;
}

a, input[type="submit"]:hover{
    opacity: 1;
}

form {
    width: 300px;
}

form div {
    display: flex;
    flex-flow: column wrap;
    margin-bottom: .5em;
}

form label {
    font-weight: bold;
    margin-bottom: .3em;
}

form input, form textarea {
    padding: 5px;
}