@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

main#container {
    display: grid;
    grid-template-columns: 1fr 8fr;
}

header {
    background-color: gold;
    grid-column: span 2;
}

aside {
    grid-column: 1;
    background-color: red;

}

section {
    grid-column: 2;
    background-color: blue;

}

footer {
    grid-column: span 2;
    background-color: green;

}

.item {
    height: 200px;
}