@charset "UTF-8";

@font-face {
    font-family: "Inter Regular";
    src: url("../assets/fonts/Inter-Regular.ttf");
}

@font-face {
    font-family: "Inter SemiBold";
    src: url("../assets/fonts/Inter-SemiBold.ttf");
}

@font-face {
    font-family: "Inter Bold";
    src: url("../assets/fonts/Inter-Bold.ttf");
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #141414;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 50px 0px 50px 0px;
    background-color: #1f1f1f;
    width: 400px;
    max-height: 600px;
}

main > img#avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 30px;
}

main > div.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 300px;
    height: 50px;
    border-radius: 8px;
    background-color: #333333;
}

div.button:hover {
    transition: background-color 0.3s ease-in-out;
    background-color: #c5f82a;
}

div.button:hover > p {
    transition: background-color 0.3s ease-in-out;
    color: #333333;
}

h1 {
    font-family: "Inter Bold", sans-serif;
    color: white;
}

h2 {
    font-family: "Inter SemiBold", sans-serif;
    color: #c5f82a;
}

p {
    font-family: "Inter Regular", sans-serif;
    color: #ffffff73;
    margin: 20px 0px 20px 0px;
    font-size: .8em;
}

div.button > p {
    font-family: "Inter Bold", sans-serif;
    color: white;
    margin: 0px;
}
