@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "header header header"
    "aside article section"
    "footer footer footer";
}

header {
    background-color: red;
}

aside {
    background-color: purple;
}

article {
    background-color: aqua;
}

section {
    background-color: brown;
}

footer {
    background-color: crimson;
}